# Visual Studio / .NET Core
**/.vs/
**/.vscode/
**/bin/
**/obj/
**/bld/
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.suo
**/*.userprefs
**/*.[Cc]ache
**/*.[Oo]bj
**/[Dd]ebug/
**/[Rr]elease/
**/*.bak
**/*.log
**/*.tmp
**/*.temp
**/*.swp
**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/*.db
**/*.sqlite

# Environment variables
**/.env
**/.env.*
**/*.local
